<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<connectionStrings>
		<add name="Conexion" connectionString="Data Source=Mailserver\EMAIL;Initial Catalog=aaapverweb;User ID=sa;Password=AAApver12$" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>